
# **1. Basic Synthax Python**

**A)** Perintah print berfungsi untuk mencetak output pada jupyter notebook. Output yang dicetak tidak terbatas pada kata-kata, biasanya print pada data science banyak digunakan untuk mencetak keluaran dari pengolahan analisa yang dilakukan pada dataset. Penulisan print dapat dilakukan dengan menuliskan perintah sesuai contoh gambar.


```
print("Isi Kalimat")
```

In [ ]:
print("Hello World")

Hello World

**B)** Variabel bertugas untuk menyimpan nilai, atau data yang di input. Nilai variabel dapat berubah, jika kita assign nilai pada variabel yang sama. Pada data science, variabel sangat membantu ketika kita ingin menyimpan hasil pengolahan yang ingin kita gunakan berulang kali, hal ini memudahkan kita untuk mengakses hasil pengolahan tersebut tanpa harus mengetik keseluruhan perintah. Penulisan variabel bisa dilakukan sesuai contoh gambar di bawah.


```
x1 = 6
x4 = 5
T = 7
```

Buatlah suatu variabel yang menyimpan nilai, dan *print* isi dari variabel untuk mengetahui nilai di dalemnya.

In [1]:
alpha = 7

romeo = "Ada Apa"

print(alpha)
print(romeo)

7
Ada Apa

**C)** Python juga dapat melakukan operasi matematika seperti, penambahan, pengurangan, dan perkalian pada angka seperti contoh yang diberikan. Pada data science, ini sangat berguna untuk membuat rumus-rumus matematika, seperti mencari nilai rata-rata (mean). Contoh pengunaan dapat dilihat pada gambar dibawah.


```
x1 = 7
x2 = 6

print(x1 + x2) // 6 + 7 = 13
print(x1 * x2) // 7 * 6 = 42
print(x1 - x2) // 7 - 6 = 1
```
Buatlah 2 variabel yang berisi nilai, kemudian lakukan *print* operasi pertambahan, perkalian, dan pengurangan pada kedua variabel.

In [ ]:
x1 = 7
x2 = 6
 
print(x1 + x2) // 6 + 7 = 13
print(x1 * x2) // 7 * 6 = 42
print(x1 - x2) // 7 - 6 = 1

9
240
2

# **2. Data Structure pada Python**

**A)** Numerik adalah tipe data structure yang terdiri dari 3 hal, yaitu integers, float, dan complex. Kita dapat mengetahui tipe data dari suatu variable dengan menuliskan kode sebagai berikut.


```
type(variable)
```
```
float(variable)
```
Buatlah tiga variabel, mas.

In [5]:
a = 10 + 3j 
print(type(a))

b = 20 
print(type(b))

d = float(b)
print(type(d))

<class 'complex'>
<class 'int'>
<class 'float'>

**B)** Bool adalah tipe data structure yang hanya mempunyai 2 nilai konstan, antara True atau False. Mengetahui suatu variabel adalah *True* atau *False* , atau tipe variable tersebut adalah *bool* dapat dihasilkan dengan contoh sebagai berikut.


```
x2 = type(True) // akan dihasilkan tipe variabel True, dengan  *bool*

Test1 = 1 == 1 // akan dihasilkan *True*, karena variabel memiliki hasil yang sama

```
Buatlah suatu variabel x1, berisi tipe data *false* dan *print* hasilnya. Kemudian buatlah suatu variabel yang membandingkan dua angka, dan menghasilkan nilai *False*

In [6]:
x1 = type(False)
print( x1)

x2 = type(True)
print( x2)

Test1 = 1 == 1
print( Test1)

Test2 = 1 == 4
print( Test2)

<class 'bool'>
<class 'bool'>
True
False

**C)** List adalah kumpulan order sequence, artinya dia adalah jenis variabel kumpulan data yang terurut. List dapat diakses dengan menuliskan angka untuk mengetahui elemen yang disimpan, elemen pada List dapat diubah setelah di *declare*. Penulisan dilakukan dengan memberikan variabel, suatu simbol [ ] seperti contoh dibawah.



```
x = [5, 10, 15]
print(x[0]) // ketika di print akan menghasilkan nilai 5
print(x[-1]) // ketika di print akan menghasilkan nilai 15
print(x[0:2]) // ketika di print akan menghasilkan nilai 5, dan nilai 10

x[2] = 10
print(x) // akan dihasilkan [5, 10, 10]
```

Buatlah suatu variabel bernama x, yang berisi 5,10,15,20,25,30,35,40. Kemudian tampilkan elemen awal, elemen paling belakang, dan elemen yang ada di elemen 3 dan 5.

In [9]:
x = [5,10,15,20,25,30,35,40]
print(x[0])
print(x[-2]) 
print(x[3:5])

5
35
[20, 25]

**D)** Tuple adalah jenis dari List, tapi tidak bisa mengubah elemen yang ada . Penulisan Tuple dilakukan dengan memberikan variabel suatu dengan simbol ( ) seperti contoh dibawah. Tuple tidak memiliki kemampuan untuk mengganti isi variabel dari element yang sudah di *declare* sebelumnya.



```
t = (5,'program', 1+3j)
print(t[1]) // ketika di print akan menghasilkan kalimat "program"
print(t[0:3]) // ketika di print akan menghasilkan kalimat "(5, 'program', (1+3j))"
```

Buatlah suatu variabel t berjenis tuple yang berisi "empat", "lima", dan 3. Kemudian tampilkan elemen pertama, dan elemen diantara pertama dan ketiga.

In [10]:
t = ("empat", "lima", 3)
print(t[0])
print(t[0:2])

empat
('empat', 'lima')

**E)** Set adalah kumpulan unordered collection, keunikan set adalah data bisa digabungkan dengan operasi sederhana seperti contoh yang diberikan. Terdapat 4 operasi sederhana yaitu Union, Intersection, Different, Symmetrical Different. Penulisan set dilakukan dengan memberikan simbol {}, seperti contoh dibawah.



```
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};
  
# union
print("Union :", A | B) // Union : {0, 1, 2, 3, 4, 5, 6, 8}
  
# intersection
print("Intersection :", A & B) // Intersection : {2, 4}
  
# difference
print("Difference :", A - B) // Difference : {0, 8, 6}
  
# symmetric difference
print("Symmetric difference :", A ^ B) // 
Symmetric difference : {0, 1, 3, 5, 6, 8}
```
Buatlah suatu variabel A berjenis tuple, pada variabel tersebut berisi 0, 4, 4, 5, dan 8. Kemudian variabel B berjenis tuple, pada variable tersebut berisi 1, 10, 2, 4, dan 5. Carilah union, intersection, difference, dan symetric difference.

In [1]:
A = {0, 4, 4, 5, 8};
B = {1, 10, 2, 4, 5};
  
# union
print("Union :", A | B)
  
# intersection
print("Intersection :", A & B)
  
# difference
print("Difference :", A - B)
  
# symmetric difference
print("Symmetric difference :", A ^ B)

Union : {0, 1, 2, 4, 5, 8, 10}
Intersection : {4, 5}
Difference : {0, 8}
Symmetric difference : {0, 1, 2, 8, 10}

**F)** Dictionary adalah kumpulan pasangan kunci dan nilai yang tidak harus berurutan. Dictionary dapat digunakan untuk menyimpan data kecil hingga besar, untuk mengakses data kita harus mengetahui kuncinya seperti contoh yang diberikan



```
d = {1:'Ini adalah satu','key':"Ini adalah kunci"}
print(d['key']) // Ini adalah satu
print(d[1]) // Ini adalah kunci
```
Buatlah suatu variabel bernama d, d akan berisi kunci 1 dengan nilai "ini adalah satu", dan kunci key dengan nilai "ini adalah kunci". Kemudian *print* hasil tipe dari variabel d, dan elemen pertama variabel d

In [2]:
d = {30:"Keluarkan 30",'kata kunci':"Kunci akan membuka pintu"}
print(d[30])
print(d['kata kunci'])

Keluarkan 30
Kunci akan membuka pintu

#Control Flow dan Fungsi

**A)** Control Flow pada Python merupakan cara operasi logika dapat dilakukan pada input, ataupun data yang diberikan pada program. *Control flow* pada Python dimulai dari If, elif (else-if), dan else jika pilihan tersebut adalah opsi terakhir. Penulisah dilakukan dengan contoh sebagai berikut.


```

if nilai>80:
   print("Selamat! Anda mendapat nilai A") 
   
elif nilai>70:
   print("Selamat! Anda mendapat nilai B")
   
elif nilai>60:
   print("Selamat! Anda mendapat nilai C")
   
else:
   print("Selamat! Anda mendapat nilai D")
   
```
Ketika input bernilai 65, maka Python akan *print* Selamat! Anda mendapat nilai C. 

Buatlah suatu variabel bernama Nilai, yang berisi 70. Program akan memiliki kondisi, jika dia lebih besar dari 80 akan mendapat nilai A, jika dia lebih besar dari 60 akan mendapat nilai C. Jika tidak memenuhi keduanya akan mendapat keterangan gagal. Program harus menampilkan “Anda mendapat Nilai C” sebagai output

In [14]:
nilai = 70

if nilai>80:
   print("Anda mendapat nilai A")
   
elif nilai>60:
   print(" Anda mendapat nilai C")
   
else:
   print("Gagal")

 Anda mendapat nilai C

**B)** Perulangan pada Python dapat dilakukan dengan memakai For atau While, For sering digunakan untuk melakukan looping pada data structure. Pada contoh yang diberikan kita melakukan looping dengan for sehingga menghasilkan *output*. 


```
flowers = ['mawar', 'melati', 'anggrek']
for flower in flowers:  # Contoh kedua
    print("Flower ini bernama ", flower)
```
Buatlah suatu variabel bernama flowers, variabel tersebut adalah list yang berisi isian sebagai berikut, sunflower, melati, dan anggrek. Kemudian lakukan looping pada bunga, dan print hasil setiap looping terjadi. Program harus mengeluarkan isian pada variabel flower, menggunakan for.

In [17]:
flowers = ['sunflower', 'melati', 'anggrek']
for x in flowers:  # Contoh kedua
    print(x)

sunflower
melati
anggrek

**C)** While digunakan untuk melakukan *looping*, dan mengeksekusi statement jika keinginannya terpenuhi awalnya terpenuhi. While dapat ditulis dengan contoh pada gambar.


```
count = 0
while (count < 7):
    print("Looping nomor ", count)
    count = count + 1
```

Buatlah suatu variabel bernama d, yang berisi nilai 0. Kemudian gunakan while untuk melakukan incremental hingga nilai menjadi 6 pada nilai di dalam variabel d dengan While, pada setiap pertambahan nilai print hasilnya. Program akan mengeluarkan setiap perubahan angka pada d, dimulai dari 0 hingga 6 secara berurutan.

In [18]:
d = 0
while (d < 7):
    print(d)
    d = d + 1

0
1
2
3
4
5
6

Pertanyaan 1

In [28]:
degree = 50
simbol = 'F'

if simbol == "C":
  Hasil = int(round((9 * degree) / 5 + 32))
  Simbol = "Farenheit"
elif simbol == "F":
  Hasil = int(round((degree - 32) * 5 / 9))
  Simbol = "Celsius"
else:
  print("Penamaan tidak dapat dikonversi")

print("The temperature in", Simbol, "is", Hasil, "degrees.")

The temperature in Celsius is 10 degrees.

Pertanyaan 2

In [4]:
List = [32.78, 3+9j, False, "Ini adala Text"]
for item in List:
   print (item, type(item))

32.78 <class 'float'>
(3+9j) <class 'complex'>
False <class 'bool'>
Ini adala Text <class 'str'>