# **1. Import Pandas**

**A)** Mulai notebook, dengan menginstall library bernama pandas menggunakan fungsi **import** pada Python

In [1]:
import pandas as pd

# **2. Membaca *data-set* dan memberikan *Headers***

**A)** Pada modul ini, kita akan menggunakan dataset yang bernama *automobile data-set*. *Data-set* ini dapat di *download* melalui link yang diberikan 
[Automobile Dataset](https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data). Setelah proses *download* selesai, *copy* alamat *dataset* dan masukan kedalam variabel bernama *filename*

In [2]:
filename = 'imports-85.data'

**B)** Pandas memiliki *function* bernama 
```
pd.read_csv()
```
Gunakan fungsi tersebut, untuk membaca dataset pada variabel *filename*. Kemudian simpan hasil pembacaan pada variabel bernama *df*

In [3]:
df = pd.read_csv(filename)


**C)** Pandas memiliki *function* bernama


```
.head()
```


Gunakan fungsi head, untuk melihat 5 data pertama dari variabel df

In [4]:
df.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

**D)** Hasil pembacaan menunjukan, bahwa *data-set* tidak memiliki label pada setiap baris data. Hasil *label* pada *data-set* dapat dilihat pada *attributed information* pada [Automobile Dataset Information](https://archive.ics.uci.edu/ml/datasets/automobile). Klik, dan buatlah sebuah variabel bernama *headers*. *headers* akan berisi list dari nama yang didapat dari *attributed information*

In [5]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", 
           "num-of-doors","body-style","drive-wheels","engine-location","wheel-base", 
           "length","width","height","curb-weight","engine-type","num-of-cylinders", 
           "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
           "peak-rpm","city-mpg","highway-mpg","price"]

**E)** Gunakan kembali *function* Pandas

```
pd.read_csv()
```
Pada fungsi ini, masukan variabel *filename*. Kemudian berikan *comma*, dan masukan headers pada fungsi names

In [6]:
df = pd.read_csv(filename, names = headers)

**F)** Kemudian gunakan fungsi Pandas

```
.head()
```
Menggunakan fungsi tersebut, lihatlah apakah *data-set* sudah memiliki label yang ditambahkan dari *headers*.

In [7]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

# **3. Memperbaiki *data-set* yang rusak**

**A)** Pada data yang dianalisa, terlihat bahwa data yang hilang diwakilkan dengan simbol "?". Gunakan fungsi replace, untuk mengganti "?" dengan "NaN"


```
.replace(A, B, inplace = True) // Simbol A diganti menjadi B
```
*Import* numpy agar nan dapat diterima pada kolom data

In [8]:
import numpy as np

# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**B)** Gunakan fungsi Python, bernama 

```
.isnull()
```
Fungsi ini akan memberikan keluaran *True* untuk data yang memiliki label NaN, dan *False* untuk data yang tidak memiliki label NaN.

Gunakan fungsi tersebut, dengan variabel df. Masukan keduanya dalam variabel bernama missing_data.

In [9]:
missing_data = df.isnull()

missing_data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

**C)** Menggunakan *for loop* di Python, kita dapat dengan cepat mengetahui jumlah nilai yang hilang di setiap kolom. Seperti disebutkan di atas, *True* mewakili nilai yang hilang, *False* berarti nilai ada dalam kumpulan data. Gunakan kedua fungsi, bersamaan dengan *for loop* untuk menghitung *True* pada data

Fungsi berikut untuk mengubah kolom menjadi list, sehingga dapat di *looping*

```
missing_data.columns.values.tolist()
```
Fungsi berikut untuk membaca jumlah *True* dan *False* pada kolom

```
missing_data[column].value_counts()
```

In [10]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

symboling
False    205
Name: symboling, dtype: int64

normalized-losses
False    164
True      41
Name: normalized-losses, dtype: int64

make
False    205
Name: make, dtype: int64

fuel-type
False    205
Name: fuel-type, dtype: int64

aspiration
False    205
Name: aspiration, dtype: int64

num-of-doors
False    203
True       2
Name: num-of-doors, dtype: int64

body-style
False    205
Name: body-style, dtype: int64

drive-wheels
False    205
Name: drive-wheels, dtype: int64

engine-location
False    205
Name: engine-location, dtype: int64

wheel-base
False    205
Name: wheel-base, dtype: int64

length
False    205
Name: length, dtype: int64

width
False    205
Name: width, dtype: int64

height
False    205
Name: height, dtype: int64

curb-weight
False    205
Name: curb-weight, dtype: int64

engine-type
False    205
Name: engine-type, dtype: int64

num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64

engine-size
False    205
Name: engine-size, dtype: int64

fuel-system
False    205
Name: fuel-system, dtype: int64

bore
False    201
True       4
Name: bore, dtype: int64

stroke
False    201
True       4
Name: stroke, dtype: int64

compression-ratio
False    205
Name: compression-ratio, dtype: int64

horsepower
False    203
True       2
Name: horsepower, dtype: int64

peak-rpm
False    203
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    205
Name: city-mpg, dtype: int64

highway-mpg
False    205
Name: highway-mpg, dtype: int64

price
False    201
True       4
Name: price, dtype: int64

Hasil looping, akan memberikan keluaran jumlah *True* dan *False* pada data. Kita akan mengambil jumlah *True*, karena ini menunjukan data yang hilang

1. normalized-losses": 41 missing data
2. num-of-doors": 2 missing data
3. bore": 4 missing data
4. stroke" : 4 missing data
5. horsepower": 2 missing data
6. peak-rpm": 2 missing data
7. price": 4 missing data

**D)** Kita akan mengganti, nilai yang hilang dengan hasil mean pada setiap kolom. Cth : normalized loss memiliki 41 data yang hilang, ini bisa digantikan dengan mencari *mean*, kemudian menggantikan data yang hialng dengan nilai *mean*

Gunakan fungsi pada gambar dibawah, untuk menghitung *mean* dari kolom "normalized-loss" 
```
df[data-label].astype("float").mean(axis=0)
```

In [11]:
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

Average of normalized-losses: 122.0

Gunakan fungsi pada gambar dibawah, untuk menggantikan data yang hilang, dengan nilai *mean* dari kolom "normalized-loss" 

```
df[data-label].replace(np.nan, avg_norm_loss, inplace=True)
```

In [12]:
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

Gunakan fungsi head pada Pandas, dan terlihat bahwa data yang tadinya NaN. Sekarang digantikan dengan hasil *Mean* dari kolom *normalized-loss*

In [13]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**E)** Sekarang kita harus cek, apakah type data memiliki format yang tepat. 

Fungsi ini digunakan untuk mengetahui tipe data.


```
.dtype()
```
Fungsi ini digunakan untuk menggantikan tipe data lama, menjadi type data baru.



```
.astype()
```

Sekarang gunakan fungsi pandas, untuk mengetahui setiap tipe dari data yang terkandung pada *data-set*

In [14]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

Seperti yang bisa kita lihat di atas, beberapa kolom memiliki tipe data yang salah. 
1. Variabel numerik harus memiliki tipe 'float' atau 'int'
2. Variabel dengan string seperti kategori harus memiliki tipe 'objek'. 
3. Variabel 'bore' dan 'stroke' adalah nilai numerik yang menggambarkan mesin, jadi kita harus mengharapkan variabel tersebut bertipe 'float' atau 'int'; namun, mereka ditampilkan sebagai tipe 'objek'

Gunakan fungsi "astype()", untuk melakukan konversi ke tipe data yang benar

In [15]:
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

Mari kita lihat tipe data dari setiap kolom setelah konversi dilakukan

In [16]:
df[["bore", "stroke", "normalized-losses", "price", "peak-rpm" ]].dtypes

bore                 float64
stroke               float64
normalized-losses      int32
price                float64
peak-rpm             float64
dtype: object

# Soal

**1)** Bersihkan data yang tersisa, pada data yang belom dibersihkan adalah stroke, horsepower, peak-rpm. Gunakan mode statistik dengan cara menghitung mean dari setiap kolom sebagai nilai pengganti data yang hilang. Kemudian print hasil data yang sudah dibersihkan

In [17]:

avg_stroke_loss = df["stroke"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_stroke_loss)

df["stroke"].replace(np.nan, avg_stroke_loss, inplace=True) # Stroke Column

avg_horsepower = df['horsepower'].astype('float').mean(axis=0)
print("Average horsepower:", avg_horsepower)

df['horsepower'].replace(np.nan, avg_horsepower, inplace=True) # horsepower

avg_peakrpm=df['peak-rpm'].astype('float').mean(axis=0)
print("Average peak rpm:", avg_peakrpm)

df['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True) #peak-rpm

Average of normalized-losses: 3.2554228855721337
Average horsepower: 104.25615763546799
Average peak rpm: 5125.369458128079

In [21]:
df[['stroke','horsepower','peak-rpm']].head()

   stroke horsepower  peak-rpm
0    2.68        111    5000.0
1    2.68        111    5000.0
2    3.47        154    5000.0
3    3.40        102    5500.0
4    3.40        115    5500.0